*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Regular';
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: #fff;
    border-bottom: 5px solid #50b0b6;
}
header .header-logo{
    display: flex;
    align-items: center;
}
header .header-logo-image{
    max-height: 40px;
    margin-right: 16px;
}
header .header-content{
    display: flex;
    align-items: center;
    color:  #429499;
}

header .header-nav{
    margin-left: auto;
    display: flex;
}

header .header-nav-item{
    padding: 26px;
    transition: 0.3s background-color, color;
}

header .header-nav-item:hover{
    cursor: pointer;
    background-color:  #50b0b6;
    color: #FFF;
}

main{
    margin-top: 16px;
}

main .form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-client-main{
    width: 100%;
    margin-bottom: 16px;
}

.profile-client-main{
    display: flex;
}

.profile-client-main > *{
    border: 2px solid #50b0b6;
    border-radius: 8px;
    padding: 16px;
}

.profile-client-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 150px;
    max-width: 150px;
}
.profile-client-photo-img{
    max-width: 100%;
}

.profile-client-info{
    margin-left: 16px;
    width: 100%;
}

.profile-client-fullname{
    text-align: center;
}

.profile-writes-tabs{
    border: 2px solid #50b0b6;
    padding: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 8px;
}

.profile-writes-tabs > *:first-child{
    margin-right: auto;
}
.profile-writes-tabs > *{
    margin-right: 16px;
}
.profile-writes-tabs > *:last-child{
    margin-right: 0;
}

.profile-writes{
    border: 2px solid #50b0b6;
    border-radius: 8px;
    overflow: hidden;
}
.profile-writes .write{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 2px solid #50b0b6;
}
.profile-writes .write:last-child{
    border-bottom: 0px;
}
.profile-writes .write .op_name{
    font-family: 'Medium';
}